<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--Card comments-->
    <div class="card-block">
        <pre class="card-text">{{form.value.comment}}</pre>
    </div>
    <p class="small">{{ form.value.lastUpdateTS}}</p>
    <!-- Comment text area -->
    <div class="form-group">
        <div class="card-block">
            <label for="comment"> Comment</label>
            <textarea class="form-control" formControlName="comment" row="3"></textarea>
            <small class="form-text text-muted">
       <span>{{ 100 - form.value.comment.length }}</span> Characters left
   </small>
        </div>
    </div>
    <!--Name imput-->
    <div class="form-group">
        <label for>Name</label>
        <input type="text" class=" form-control" formControlName="name" placeholder="Enter Name">

    </div>
    <!--Email input-->
    <div class="form-group">
        <label for>Email</label>
        <input type="email" class=" form-control" formControlName="email" placeholder="Enter Email">
        <small class="form-text text-muted">
                      We'll never share your email with anyone else.
               </small>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>

</form>